.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    /* background-image: url('../assets/coco/7.jpg'); */
    background-size: cover;
  }
button{
    font-weight: bold;
    background-color: springgreen;
}  
div{
    display: inline-block;
    margin: 10px 20px;
}
img{
    width: 400px;
    height: 300px;
}
.mar{
  margin-left: 200px;
  width: 500px !important;
}