<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a><img src="../assets/coco/logo.png" height="60px" alt=""></a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
       <!-- Dropdown -->
       <li class="dropdown show">
        <a  class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        Products</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item "  routerLink="/laptop">Laptops </a>
            <a class="dropdown-item "   routerLink="/camera">Cameras </a>
            <a class="dropdown-item"  routerLink="/headphonescards">Head-Phones </a>
            <a class="dropdown-item "  routerLink="/phones">Mobile Phones </a>
            
        </div>
    </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/purchase">PURCHASE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkout">CHECKOUT</a>
      </li>
    </ul>



    <form class="form-inline my-2 my-lg-0">
      <button class="btn btnlogin btn-outline-success my-2 my-sm-0" type="button" routerLink="/login"> Login</button>
      <button class="btn btnlogin btn-outline-success my-2 my-sm-0" routerLink="/signup" type="button">Register</button>

      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>

<!--  -->
