<app-nav-bar></app-nav-bar>
<div class="firstDiv">
  <figure class="snip1543">
    <img src="../../assets/coco/headfone.jpg"  class="imghead"/>
    <figcaption>
      <h3>Head Phones</h3>
      <p>The only skills I have the patience to learn are those that have no real application in life.</p>
    </figcaption>
    <a routerLink="/headphonescards"></a>
  </figure>
  <figure class="snip1543" style="margin-right: 20; height: 315px;"><img
      src="../../assets/coco/laptop.jpg" alt="sample101"class="imghead" />
    <figcaption>
      <h3>Lab Tops</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a routerLink="/laptop"></a>
  </figure>
  <figure class="snip1543" style="margin-right: 50;"><img
      src="../../assets/coco/phone.png"
      alt="sample101" class="imghead" />
    <figcaption>
      <h3>Mobile Phones</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a href="/phones"></a>
  </figure>
  <figure class="snip1543"><img src="../../assets/coco/cam.jpg" height="315px"
      alt="sample101" class="imghead" />
    <figcaption>
      <h3>CAMERA</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a href="/camera"></a>
  </figure>
</div>
<h1>NEW PRODUCTS</h1><br>
<div class="row">
  <div class="col-md-4">
     <div class="card mb-4">
        <img class="card-img-top" src="../../assets/coco/cam.jpg" alt="Card image cap">
        <div class="card-body">
           <h5 class="card-title">Canon Camera</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <p class="card-text">200 $</p>
           <a href="" class="btn btn-outline-dark btn-sm">Add To Cart</a>
        </div>
     </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4">
      <img class="card-img-top" src="../../assets/coco/headfone.jpg" alt="Card image cap" >
      <div class="card-body">
         <h5 class="card-title">Head-Phone</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <p class="card-text">300 $</p>
         <a href="" class="btn btn-outline-dark btn-sm">Add To Cart</a>
      </div>
    </div>
 </div>
 <div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="../../assets/coco/laptop.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-title">Laptop Apple</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <p class="card-text">2000 $</p>
       <a href="" class="btn btn-outline-dark btn-sm">Add To Cart</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="../../assets/coco/lenovo.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-title">LapTop Lenovo</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <p class="card-text">5000 $</p>
       <a href="" class="btn btn-outline-dark btn-sm">Add To Cart</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="../../assets/coco/mob.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-title">Huwaie Phone</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <p class="card-text">1000 $</p>
       <a href="" class="btn btn-outline-dark btn-sm">Add To Cart</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4">
    <img class="card-img-top" src="../../assets/coco/phone.png " alt="Card image cap">
        <div class="card-body">
           <h5 class="card-title">mobile Phone </h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <p class="card-text">2000 $</p>
           <a href="" class="btn btn-outline-dark btn-sm">Add To Cart</a>
        </div>
  </div>
</div>
  </div>









  <app-footer></app-footer>