<app-nav-bar></app-nav-bar><br>
<!--Table-->
<table class="table table-responsive  text-center">

    <!--Table head-->
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
           
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr >
            <th scope="row">1</th>
            <td>Camera</td>
            <td>200$</td>
            <td><img src="../../assets/coco/cam1.jpg"></td>          
           
            <td><button type="button" mdbBtn color="danger" mdbWavesEffect>Delete</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Camera</td>
            <td>200$</td>
            <td><img src="../../assets/coco/cam1.jpg"></td>          
           
            <td><button type="button" mdbBtn color="danger" mdbWavesEffect>Delete</button></td>
        </tr>
        <tr>
            <th>Total</th>
            <td colspan="4">400 $</td>
        </tr>
        
    </tbody>
    <!--Table body-->


</table><br>
<!--Table-->
<app-footer></app-footer>