<app-nav-index></app-nav-index>
<div class="firstDiv">
  <figure class="snip1543">
    <img src="../../assets/coco/headfone.jpg" />
    <figcaption>
      <h3>Head Phones</h3>
      <p>The only skills I have the patience to learn are those that have no real application in life.</p>
    </figcaption>
    <a href="/headphonescards"></a>
  </figure>
  <figure class="snip1543" style="margin-right: 20; height: 315px;"><img
      src="../../assets/coco/laptop.jpg" alt="sample101" />
    <figcaption>
      <h3>Lab Tops</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a routerLink="/laptop"></a>
  </figure>
  <figure class="snip1543" style="margin-right: 50;"><img
      src="../../assets/coco/phone.png"
      alt="sample101" />
    <figcaption>
      <h3>Mobile Phones</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1543"><img src="../../assets/coco/cam.jpg" height="315px"
      alt="sample101" />
    <figcaption>
      <h3>CAMERA</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a href="#"></a>
  </figure>
</div>
<h1>NEW PRODUCTS</h1>









<div class="car">
<div class="col-md-4">
  <div class="card bg-light">
    <img class="card-img-top" src="https://www.zomo.de/media/image/08/8e/65/Zomo-HD-1200-DJ-Headphones-orange-main.jpg"
      alt="Card image cap">
    <div class="card-body bodyCard">
      <h5 class="card-title border-bottom pb-3">Card title <a href="#"
          class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fas fa-share-alt"></i></a>
      </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
      <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
</div>

<div class="col-md-4 mar">
  <div class="card bg-light">
    <img class="card-img-top" src="https://www.zomo.de/media/image/08/8e/65/Zomo-HD-1200-DJ-Headphones-orange-main.jpg"
      alt="Card image cap">
    <div class="card-body bodyCard">
      <h5 class="card-title border-bottom pb-3">Card title <a href="#"
          class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fas fa-share-alt"></i></a>
      </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
      <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
</div>

<!-- <div class="col-md-4">
  <div class="card bg-light">
    <img class="card-img-top" src="https://www.zomo.de/media/image/08/8e/65/Zomo-HD-1200-DJ-Headphones-orange-main.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-3">Card title <a href="#"
          class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fas fa-share-alt"></i></a>
      </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
      <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
</div> -->

<hr>
<div>

</div>
  <app-footer></app-footer>